<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajax Request</title>
    <style>
      img {
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-if="errors.length > 0">
        <ul>
          <li v-for="(error,index) in errors" :key="index">{{error}}</li>
        </ul>
      </div>

      <form @submit.prevent="submitForm">
        <table>
          <tr>
            <td>Nama</td>
            <td>: <input type="text" v-model="form.name" /></td>
          </tr>
          <tr>
            <td>Alamat</td>
            <td>: <input type="text" v-model="form.address" /></td>
          </tr>
          <tr>
            <td>No. Hp</td>
            <td>: <input type="text" v-model="form.no_hp" /></td>
          </tr>
          <tr v-if="buttonStatus == 'submit'">
            <td>
              <button type="submit">Submit</button>
            </td>
          </tr>
        </table>
        <div v-if="buttonStatus  == 'uploadFoto'">
          <input type="file" name="photo" ref="photo" />
          <button @click="submitPhoto()">Upload</button>
        </div>
        <div>
          <button
            v-if="buttonStatus == 'edited'"
            @click="editData()"
            type="button"
          >
            Edit
          </button>
        </div>
      </form>
      <table style="margin-top: 5px" border="1">
        <thead>
          <tr>
            <td>Foto</td>
            <td>Id</td>
            <td>Nama</td>
            <td>Alamat</td>
            <td>No. Hp</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(member,index) in members" :key="index">
            <td>
              <img
                v-if="member.photo_profile != null"
                :src="url+member.photo_profile"
                alt=""
              />
              <img
                v-else
                src="https://dummyimage.com/16:9x1080"
                alt="Foto Profile"
              />
            </td>

            <td>{{member.id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.address}}</td>
            <td>{{member.no_hp}}</td>
            <td>
              <button @click="getEdit(member.id)">Edit</button>
              <button @click="uploadFoto(member)">Upload Foto</button>
              <button @click="hapusData(member.id)">Hapus</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <script src="https://unpkg.com/vue@3"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          form: {
            id: "",
            name: "",
            no_hp: "",
            address: "",
            photo_profile: "",
          },
          url: "http://demo-api-vue.sanbercloud.com",
          members: [],
          errors: [],
          buttonStatus: "submit",
        },
        methods: {
          // untuk mengkosongkan input form
          clearForm() {
            this.form.name = "";
            this.form.address = "";
            this.form.no_hp = "";
          },

          //   validasi data input form
          validationForm() {
            if (this.form.name.length < 5) {
              this.errors.push("nama minimal 5 karakter");
            }
            if (this.form.address.length < 0) {
              this.errors.push("Alamat harus di isi");
            }

            if (this.form.no_hp.length < 5) {
              this.errors.push("nomer hp kurang dari 10 angka");
            }
          },

          //   menambahkan data
          submitForm() {
            this.errors = [];
            this.validationForm();

            if (this.errors.length == 0) {
              let inputData = new FormData();
              inputData.append("name", this.form.name);
              inputData.append("address", this.form.address);
              inputData.append("no_hp", this.form.no_hp);

              const config = {
                method: "post",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
                data: inputData,
              };

              axios(config)
                .then((response) => {
                  //   console.log(response.data);
                  this.clearForm();
                  this.getData();
                })
                .catch((error) => {
                  console.log(error);
                });
            } else {
              alert("apa ajaa");
            }
          },
          // menampilkan data
          getData: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };

            axios(config)
              .then((response) => {
                this.members = response.data.members;
              })
              .catch((error) => {
                console.log(error);
              });
          },
          getEdit(id) {
            //ambil data dari server
            const config = {
              method: "get",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            };
            //masukin ke variabel form
            axios(config).then((response) => {
              this.buttonStatus = "edited";
              this.form.photo_profile = response.data.member.photo_profile;
              this.form.name = response.data.member.name;
              this.form.address = response.data.member.address;
              this.form.no_hp = response.data.member.no_hp;
            });
          },
          //   mengubah data
          editData() {
            alert("hey");
            // let formData = new FormData();
            // inputData.append("name", this.form.name);
            // inputData.append("address", this.form.address);
            // inputData.append("no_hp", this.form.no_hp);
            // const config = {
            //   method: "post",
            //   url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}?_method=PUT`,
            //   data: formData,
            // };
            // axios(config)
            //   .then((response) => {
            //     this.clearForm();
            //     this.buttonStatus = "submit";
            //     this.getData();
            //   })
            //   .catch((error) => {
            //     console.log(error);
            //   });
          },
          // Hapus data
          hapusData(id) {
            let yakin = confirm("Are you sure you want to delete ?");
            if (yakin) {
              const config = {
                method: "post",
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`,
              };
              axios(config).then((response) => {
                alert("data di hapus");
              });
            }
          },
          //   Upload Foto
          uploadFoto(member) {
            this.buttonStatus = "uploadFoto";
            this.form.id = member.id;
            this.form.name = member.name;
            this.form.address = member.address;
            this.form.no_hp = member.no_hp;
          },
          submitPhoto() {
            let file = this.$refs.photo.files[0];
            let formData = new FormData();
            formData.append("photo_profile", file);
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}/upload-photo-profile`,
              data: formData,
            };
            axios(config)
              .then((response) => {
                this.clearForm();
                this.buttonStatus = "submit";
                this.getData();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
        created() {
          this.getData();
        },
      });
    </script>
  </body>
</html>
