<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Jawaban Quiz 2</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="baru.name" />
      <button name="submitBtn" v-on:click="tambahData">{{caption}}</button>
      <ul>
        <li v-for="(user, index) in users" v-bind:data-index="index">
          {{user.name}}
          <button name="editBtn" v-on:click="editData(index)">Edit</button>
          ||
          <button name="deleteBtn" v-on:click="hapusData(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          users: [
            { name: "Muhammad Iqbal Mubarok" },
            { name: "Ruby Purwanti" },
            { name: "Faqih Muhammad" },
          ],
          baru: { name: "", id: 0 },
          editMode: false,
          caption: this.editMode ? "Update" : "Add",
        },
        methods: {
          tambahData() {
            if (!this.editMode) {
              this.users.push({ name: this.baru.name });
            } else {
              this.users[this.baru.id].name = this.baru.name;
            }

            this.baru = {
              name: "",
              id: 0,
            };
            this.editMode = false;
            this.caption = "Add";
          },
          editData(id) {
            this.baru = {
              name: this.users[id].name,
              id,
            };

            this.editMode = true;
            this.caption = "Update";
          },
          hapusData(id) {
            const yakin = confirm("Hapus nih???");
            if (yakin) {
              this.users.splice(id);
              alert("data berhasil dihapus");
            }
          },
        },
      });
    </script>
  </body>
</html>
