<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas 9 dan 10 Form Input Binding dan Validation</title>
  </head>
  <body>
    <div id="app">
      <form>
        <input v-model="query" placeholder="Ketikan Kata Kunci" />
      </form>
      <ul>
        <li
          v-for="(item, index) in result"
          v-bind:key="item"
          v-bind:data-index="index"
        >
          {{item}}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          query: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
          result: [],
        },
        watch: {
          query() {
            this.result = this.books.filter((item) => {
              return (
                item.toLowerCase().indexOf(this.query.toLowerCase()) !== -1
              );
            });
          },
        },
      });
    </script>
  </body>
</html>
